
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
h1{
	font-size: 30px;
	margin-top: -10px;
}
body {
	background-image: linear-gradient(120deg, #F9F3DF, #F9F3DF); 
	color: #112031;
	min-height: 80vh;
}


form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 50px;
	color: black;

}


li{
	list-style: none;
    
}

#list{
	display: flex;
	align-items: center;
	justify-content: center;
}

#listHere{
	margin-left: -40px;
}

.todoDiv{
	display: flex;
	background: #D7E9F7;
    margin: 0.5rem;
    justify-content: space-between;
	height: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	border-radius: 20px 20px 20px 20px;
	max-width: 400px;
	height: fit-content;
}

    
.todoDiv li{
  flex-grow: 4;
  margin-right: 10px;
  padding-right: 5px;
  padding-left: 20px;
  margin-top: 6px;

}

.button {
	background-color: #F4D19B;
	border: none;
	cursor: pointer;
	height: 25px;
	width :40px;
	transition: 0.3s;
	font-family: 'Roboto Condensed', sans-serif;
	
}

.button:hover{
	border-radius: 10px 10px 10px 10px;
	height: 30px;
	width: 46px;
	background-color: #FFC069;
	font-family: 'Roboto Condensed', sans-serif;
}


#inputs {
border-radius: 10px 20px 20px 10px;
border :none;
width: 300px;
height : 30px;
font-family: 'Roboto Condensed', sans-serif;
}

.checkButton, .trashButton{
	background-color: #FFDA77;
	border-radius: 0;
	border:none;
	margin-right: 10px;
	cursor: pointer;
	margin-top: -1px;
	transition: 0.5s;
	font-family: 'Roboto Condensed', sans-serif;
	border-radius: 20px 20px 20px 20px;
	min-height: 30px;
	min-width: 20px;
}

.checkButton:hover{
	background-color: #AEE6E6;
}

.trashButton:hover{
	background-color: #AEE6E6;
}


.checked {
	text-decoration: line-through;
	opacity: 0.3;
}

.slide {
	transform :translateX(50px);
	transition: 0.2s;
	opacity: 0;
}

.buttonMain{
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    background-color: #c1f0f0;
    box-shadow: 5px 3px #869eb1;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  
  .buttonMain:hover{
	transform: translateY(-4px);
	
	box-shadow: 5px 6px #869eb1;
}

.buttonMain:active{
	transform: translateY(4px);
	transform: translateX(4px);
	background-color: #607e97;
	box-shadow: 5px 3px #869eb1;
	transition: 0.2s;
}

@media(max-width:1000px){
	h1{
		font-size: 50px;
	}
	#inputs{
		min-width: 400px;
		min-height: 40px;
	}
	.checkButton, .trashButton{
		min-height: 40px;
		min-width: 50px;
	}
	.button{
		min-height: 35px;
		min-width: 20px;
	}
}